---
interface Props {
  canonical?: string;
  documentTitle: string;
  documentDescription?: string;
  ogimage?: string;
}

import "../styles/reset.css";
import 'tippy.js/dist/tippy.css';
import "../styles/fonts.css";
import "../styles/vars.css";
import "../styles/global.scss";
import { yearsInIndustry } from "../js/yearsInIndustry";

const title = import.meta.env.PUBLIC_SITE_NAME;
const defaultDesc = `Software engineer, passionate about solving problems with code. Over ${yearsInIndustry} years of industry experience specialising in JavaScript, React & Node.`;
const site_url = Astro.site;
const site_domain = import.meta.env.PUBLIC_SITE_DOMAIN;

// Props
const canonical = Astro.props.canonical || undefined;
const documentTitle = Astro.props.documentTitle || title;
const documentDescription = Astro.props.documentDescription || defaultDesc;
const ogimage = Astro.props.ogimage || site_url + "images/ogimage.png";

function shouldLoadAnalytics() {
  return import.meta.env.MODE === 'production';
}
---

<head>
  <meta charset="UTF-8">
  {canonical && <link rel="canonical" href={canonical}>}
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="/favicon.png" type="image/png">
  <title>{documentTitle}</title>
  <meta name="description" content={documentDescription}>
  <meta property="og:title" content={documentTitle} />
  <meta property="og:description" content={documentDescription} />
  <meta property="og:type" content="website" />
  <meta property="og:url" content={site_url + (canonical || "")} />
  <meta property="og:image" content={ogimage} />

  {shouldLoadAnalytics() && (
    <script defer src="https://analytics.lukeliasi.com/getinfo" data-website-id="8fcf015d-55ce-4f7c-a4b4-4c8d000ecb9c"></script>
  )}
</head>

<style lang="scss">
  main {
    flex-grow: 1;
  }
</style>

<script hoist>
  import "../js/buzzwordHighlight.js";
  import "../js/mobileMenu.js";
</script>
