---
interface Props {
  canonical?: string;
  documentTitle: string;
  documentDescription?: string;
}

import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import Head from "./Head.astro";
import Sidebar from "./Sidebar.astro";
import NewsletterSignupForm from "./NewsletterSignupForm.astro";
import ShareBar from "./ShareBar.astro";
import { friendlyDate } from "../js/friendlyDate";

const { frontmatter } = Astro.props;

const publishedAtDateFriendly = friendlyDate(frontmatter.publishedAt);
---

<!DOCTYPE html>
<html lang="en">
  <Head
    documentTitle={frontmatter.title}
    documentDescription={frontmatter.excerpt}
    canonical={frontmatter.url}
    ogimage={import.meta.env.PUBLIC_SITE_URL + frontmatter.image.url}
  />
  <body class="page">
    <Header />

    <main class="content-main">
      <img class="blog-cover-image" src={frontmatter.image.url} alt={frontmatter.image.alt}>
      <div class="container">
        <div class="blog-wrapper">
          <div class="blog-content">
            <a class="back-to-posts" href="/blog">← Back to posts</a>

            <div class="blog-header-section">
              <h1 class="main-heading text-swipe-animation">{frontmatter.title}</h1>
              <div class="blog-post-meta">
                <div class="blog-post-date">{publishedAtDateFriendly}</div>
                <div class="blog-post-reading-time">/ {frontmatter.minutesRead}</div>
              </div>
            </div>

            <slot /> <!-- Content -->

            <div class="bottom-bar">
              <ShareBar />
              <NewsletterSignupForm location="post-end" />
            </div>

            <div class="giscus"></div>
          </div>

          <Sidebar />
        </div>
      </div>
    </main>

    <Footer />
  </body>
</html>

<style lang="scss">
  .blog-cover-image {
    height: 325px;
    object-fit: cover;
    width: 100%;
    object-position: center;
  }

  .blog-header-section {
    margin-bottom: 50px;
  }

  .blog-post-date {
    font-family: var(--font-family-IBM-Plex-Mono);
    color: var(--color-mint);
  }

  .blog-post-reading-time {
    font-family: var(--font-family-IBM-Plex-Mono);
    color: var(--color-silver-100);
  }

  .blog-post-meta {
    display: flex;
    gap: 1rem;
  }

  .blog-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 75px
  }

  .blog-wrapper .blog-content {
    flex: 1;
  }

  .blog-wrapper :global(aside) {
    height: auto;
  }

  :global(p) {
    font-weight: 300;
  }

  :global(h2, h3, h4, h5, h6) {
    margin: 2.5rem 0 1rem 0;
  }

  :global(.astro-code) {
    padding: 10px;
  }

  :global(code) {
    background: #0d1117;
  }

  :global(img) {
    max-width: 100%;
  }

  .bottom-bar {
    border-top: 1px solid var(--color-silver-800);
    border-bottom: 1px solid var(--color-silver-800);
    padding-top: 25px;
    margin-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .back-to-posts {
    position: sticky;
    top: 0;
    display: block;
    margin-top: 15px;
    background: #031d40;
    padding: 10px 0;
    z-index: 1;
  }

  @media screen and (max-width: 980px) {
    .bottom-bar {
      flex-direction: column;
    }
  }

  @media screen and (max-width: 1200px) {
    .blog-cover-image {
      height: 125px;
    }

    .blog-wrapper {
      flex-direction: column;
    }

    .blog-wrapper slot {
      order: 2;
    }

    .blog-wrapper aside {
      order: 1;
    }
  }
</style>

<script src="https://giscus.app/client.js"
  data-repo="lukeliasi/lukeliasi.com"
  data-repo-id="R_kgDOIbHCUQ"
  data-category="Announcements"
  data-category-id="DIC_kwDOIbHCUc4CWKCu"
  data-mapping="title"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="top"
  data-theme="dark"
  data-lang="en"
  data-loading="lazy"
  crossorigin="anonymous"
  async>
</script>